table {
    &.full-width {
        width: 100%;
    }

    td {
        &.count {
            width:      2.5rem;
            text-align: right;
        }
    }

    &.snacks {
        th {
            &.count {
                width:      5rem;
                text-align: center;
            }

            &.actions {
                width: 8rem;
            }
        }

        td {
            &.count {
                text-align: center;
            }

            &.actions {
                text-align: center;

                .button {
                    margin-bottom: 0;
                }
            }
        }
    }
}

form {
    .instructions {
        font-size: rem-calc(14);
    }
}

.alert-box {
    ul {
        font-size:      inherit;
        margin-bottom:  0;
    }
}