body {
    background: scale_color(#641b10, $lightness: -25%);
}

.site-header {
    background: #641b10;
    padding:    1rem 0;

    .site-title {
        color:          #fff;
        font-family:    $header-font-family;
        font-size:      rem-calc(36);
    }

    .tagline {
        color:      #fff;
        font-size:  rem-calc(16);
    }

    .main-menu {
        list-style-type:    none;
        margin:             1rem 0 0;
        padding-top:        0.75rem;
        text-align:         center;
        border-top:         1px solid #eee;
        font-family:         $header-font-family;

        li {
            display:        inline-block;
            margin-right:   1rem;

            a {
                color:          #fff;
                border-bottom:  3px solid transparent;
                padding-bottom: 4px;

                &:hover {
                    border-bottom-color: #fff;
                }
            }

            &.active {
                a {
                    border-bottom-color: #fff;
                }
            }
        }
    }
}

.content-wrapper {
    background: #f9f9f9;
}

.page-content {
    padding: 1rem 0;
}

.site-footer {
    background: scale_color(#641b10, $lightness: -25%);
    padding:    1rem 0;
    color:      #fff;
    font-size:  rem-calc(14);
}

@media #{$large-up} {
    .site-header {
        .main-menu {
            text-align:     right;
            margin-top:     1rem;
            padding-top:    0;
            border-top:     none;
        }
    }
}